@keyframes something {
    0% {
        background-color: blue;
        transform: rotate(0deg);  
      transform: scale(1); 
    }
    50% {
        background-color: red;
        rotate: 100px;
        transform: rotate(180deg); 
        transform: scale(0.5); 

    }
    100% {
        background-color: green;
        scale: 50%;
        transform: rotate(360deg); 
        transform: scale(1); 
    }
    
}



html {
    animation: something;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

body{

    margin: 50px;
    padding: 20px;
    background-color:grey;
   }

header {
    font-family: "Times New Roman", 'Times New Roman', Times, serif;
    padding: 10px;
    margin: 20px;
    background-color: grey;
     
  
}

h3 {
    color: white;
    
}

#kebabrecept,h2{

    text-align: center;
}

h4 {
    margin: 50px;
}

.important-p {
    font-size: 1.5em;
    padding: 4px;
    margin-top: 0;
    margin-bottom: 0;

}
.ingrediens{
    font-size: 1em;
    
}
.title{
    color: white;
}

.content-box {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color:pink;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 200px;

}

    

img{
    max-width: 100%;
}
.one {
   
    position: right;
    
   
  
}
.three {

    position: right;
    
}

@media (max-width:700px){
.one {
    width: 80%;
    height: 80%;
}
}
@media( min-width:980px){
    .one {
        width: 17%;
        height: 17%;
        
}
.kebabbild {
    position: absolute left;
}
}
@media( max-width:700px){
     .two {
         width:80%;
         height:80%;
        }
}
@media(min-width:980px){
    .two {
        width:50%;
        height:50%;
    }
}
@media(max-width:700px){
    .three {
        width:80%;
        height:50%;
    }
@media(min-width:980px){
    .three {
        width:20%;
        height:20%;
    }
}
}